$white: #fff;

$orange: #f16226;

$blue: #316da4;

$gray: #868e98;
$black: #000;



$r-light: 'robotolight', Arial, Tahoma, sans-serif;
$r-regular: 'robotoregular', Arial, Tahoma, sans-serif;
$r-medium: 'robotomedium', Arial, Tahoma, sans-serif;
$r-bold: 'robotobold', Arial, Tahoma, sans-serif;



$transition-normal: .3s linear;
$transition-fast: .1s linear;