<footer class="footer">
	<div class="content__in">
		<div class="footer__top">
			<div class="footer__logo">
				<img class="footer__logo_img" src="img/icons/logo_footer.png" alt="" />
				<p class="footer__logo_text">вся сумма технологий для управления корпоративными затратами</p>
				<p><a href="#" class="footer__logo_link">Скачать презентацию</a></p>
			</div>
		
			<ul class="footer__menu">
				<li><a href="#" class="footer__menu_link">Тарифы и сервисы</a></li>
				<li><a href="#" class="footer__menu_link">Заказчикам</a></li>
				<li><a href="#" class="footer__menu_link">Получить ЭП</a></li>
				<li><a href="#" class="footer__menu_link">Торги</a></li>
			</ul>
			<ul class="footer__menu">
				<li><a href="#" class="footer__menu_link">Частые вопросы</a></li>
				<li><a href="#" class="footer__menu_link">Направления</a></li>
				<li><a href="#" class="footer__menu_link">Справка</a></li>
				<li><a href="#" class="footer__menu_link">О компании</a></li>
			</ul>
			<ul class="footer__menu footer__menu_icons">
				<li><a href="#" class="footer__menu_link"><span class="icon_avatar_footer"></span>Вход в систему</a></li>
				<li><a href="#" class="footer__menu_link"><span class="icon_regis_footer"></span>Регистрация</a></li>
				<li><a href="#" class="footer__menu_link"><span class="icon_gazprom_footer"></span>Газпромбанк</a></li>
				<li><a href="#" class="footer__menu_link"><span class="icon_sitemap_footer"></span>Карта сайта</a></li>
			</ul>
		
			<div class="footer__contacts">
				<p class="footer__contacts_phone"><a href="tel:+78001006622" class="footer__contacts_phone_link">8 800 100-66-22</a> Звонок бесплатный</p>
			
				<form class="form form__footer" action="" method="">
					<label class="form__container">
						<p class="form__container_label">Подписка на обновления ЭТП ГПБ</p>
						<p class="form__container_field"><input class="form__container_input" type="text" placeholder="Ваш e-mail" /></p>
					</label>
					<button class="form__submit_button"></button>
				</form>
			</div>
		</div>
		
		<div class="footer__copyright">
			<div class="footer__copyright_links">
				<img src="img/icons/card_visa.png" alt="" />
				<img src="img/icons/card_master.png" alt="" />
				<a href="#" class="footer__copyright_links_version">English version</a>
			</div>
			<div class="footer__copyright_info">2016 © ЭТП ГПБ Все права защищены</div>
		</div>
	</div>
</footer>
