<header class="header">
	<div class="header__top clearfix">
		<div class="content__in">
			<div class="header__top_contacts">
				<a class="header__top_contacts_phone" href="tel:+78001006622">8 800 100-66-22</a><span class="header__top_contacts_backcall header-backcall">Обратный звонок</span>
				<p class="header__top_contacts_info">Звонок бесплатный, перед обращением уточните свой ИНН</p>
			</div>
			<div class="header__top_version">
				<a class="header__top_version_link" href="#">English version</a>
			</div>
			<div class="header__top_entry">
				<a class="header__top_entry_link header__top_entry_login" href="#"><img src="img/icons/avatar_orange.png" />Вход</a>
				<a class="header__top_entry_link header__top_entry_regis" href="#"><img src="img/icons/key_white.png" />Регистрация</a>
				<a class="header__top_entry_search" href="#"><img src="img/icons/loop_white.png" /></a>
			</div>
		</div>
	</div>
	
	<div class="header__bottom clearfix">
		<div class="content__in">
			<div class="header__bottom_info">
				<a href="/"><img class="header__bottom_info_logo" src="img/icons/logo_header.png" alt="" /></a>
				<p class="header__bottom_info_text">вся сумма технологий для управления корпоративными затратами</p>
			</div>
			<ul class="header__bottom_menu">
				<li><a class="header__bottom_menu_link" href="#">Торги</a></li>
				<li><a class="header__bottom_menu_link" href="#">Интернет-магазин</a></li>
				<li><a class="header__bottom_menu_link" href="#">Обучение</a></li>
				<li><a class="header__bottom_menu_link" href="#">Справка</a></li>
				<li><a class="header__bottom_menu_link" href="#">Тарифы и сервисы</a></li>
				<li><a class="header__bottom_menu_link" href="#">Заказчикам</a></li>
				<li><a class="header__bottom_menu_link" href="#">Получить ЭП</a></li>
				<li><a class="header__bottom_menu_link" href="#">Направления деятельности</a></li>
				<li><a class="header__bottom_menu_link" href="#">О компании</a></li>
			</ul>
		</div>
	</div>
</header>
